services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: pipdb
      MYSQL_USER: pipuser
      MYSQL_PASSWORD: pip123
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: backend-pip:latest
    container_name: backend
    restart: always
    depends_on:
      mysql-db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/pipdb
      SPRING_DATASOURCE_USERNAME: pipuser
      SPRING_DATOURCE_PASSWORD: pip123
    ports:
      - "8080:8080"

  frontend:
    image: frontend-pip:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mysql-data:

